.green{
    background-color: #198754;
}
.red{
    background-color: #dc3545;
}
.button-group {
    display: flex;
    overflow:visible;
  }
  
  .btn-qq {
    background-color: #0e6efd;

    &:hover{
      background-color: #0e6efd;

    }
  }
  
  /* Define an animation for the slide effect */
  @keyframes slideRightToLeft {
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
  }
  
  .slide-animation {
    animation: slideRightToLeft .5s ease forwards; /* Apply the animation */
  }
  